body{
  font-family: 'Poppins', sans-serif;
    margin: 0px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   background-color: black;
}
li{
    color: white;    
}

li a{
    float: right;
    display: block;
    color: white;
    text-align: right;
    padding: 14px 20px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: white;
    color: black;
  }

  h1{
      font-size: 40px;
  }
  
.link-button{
    text-decoration: none;
    padding: 14px 24px;
    color: white;
    background-image: linear-gradient(to right,orange,red);
    border-radius: 50px;
    font-weight: 700;
}
  .link-button:hover{
    opacity: 0.8;
    color: black;
    background-image: linear-gradient(to right, pink, red);

  }


.flexible-container{
  display: flex;
  margin-bottom: 150px;   
}

.half-width{
  
  width: 50%;
  padding-left: 10%; 
  line-height: 35px;
  margin-top: 70px;
}

.half-width img{
  width: 80%;
}
.img-2{
  
  width: 20%
}
.about-me{
  background-image: url(shapes/Frame\ 58.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 7%;
}


.center-pos{
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;  
}

hr{
  border-width: 1px;
  border-color: palevioletred;
  margin-left: 3%;
  margin-right: 3%;
}
  
.three-width{
  width: 26.66%;
  margin:  5% auto;
  text-align: center;
  content: none;
}
.three-width img{
  height: 250px;
  width: 300px;
  margin-top: 27px;
  border-radius: 20px;
}

.box-shadow{
  width: 26.66%;
  height: 500px;
  border-radius: 20px;
  box-shadow: 10px 10px 40px #FFEFD5;
}
 
.box-shadow:hover{
  opacity: 0.8;
  color: purple;
  background-color: #FFEFD5;
}

footer{
  text-align: center;
  padding: 5px; 
  color: white;
  background-color: black;
}
